.bgdesign{
    height: auto;
    /* background-image: linear-gradient(to bottom right, rgb(253, 255, 253), #99e4ff); */
}

/* decider */

.decider{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top:35vh;
    width: 40%;
    /* width: auto; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 20vh;
    background-color: rgb(249, 255, 218);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.decider_child{
    width: auto;
    /* min-width: 30%; */
    /* min-height: 2vh; */
    padding: 2%;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(190, 245, 156);
}





/* login */



.logindiv{
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top:15vh;
    background-color: hsl(143, 88%, 86%);
    border-radius: 10px;
    box-shadow: 10px 10px 4px 3px rgb(138, 137, 137);
    
}
.login_header{
    position: relative;
    width: 100%;
    /* background-color: rgb(207, 233, 253); */
    text-align: center;
    padding: 2% 0%;
    border-radius: 10px;
}
.login_form{
    position: relative;
    margin-top:7vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: blue; */
}
.inp_submit,.inp_submit2{
    position: relative;
    width: 60%;
    padding: 2% 1%;
    margin: 2% 0%;
    outline: none;
    border-radius: 10px;
    border:none;
    
}
.inp_submit2{
    width: 30%;
    padding: 2%;
}


/* register */


.gender{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    /* background-color: blanchedalmond; */
}
.vehicleimage{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: antiquewhite; */
    align-self: center;
}

#passengerid , #cabdriverid{
    display: none;
}

@media screen and (max-width:768px) {
    .logindiv{
        height: auto;
        width: 80%;
        margin-top: 10%;
    }
    .inp_submit{
        width: 80%;
    }
    .decider{
        width: 80%;
        font-size: small;
    }
    .gender{
        width: 80%;
    }
}